<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>user_management</title>
      <link rel="shortcut icon" href="styles\images\favicon1.png" type="image/x-icon">
      <link rel="stylesheet" href="/styles/login.css">
   </head>
   <body>
      <div class="wrapper">
         <div class="title">
            Admin Sign In
         </div>
         <form action="" method="post">
            
            <div class="field">
               <input type="text" name="email" required>
               <label>Email Address</label>
            </div>
            <div class="field">
               <input type="password" name="password" required>
               <label>Password</label>
            </div>
            <br>
            <% if ( message ){%>
               <div class="alert-message" role="alert">
                   <%- message %>
               </div>
               <%}%>
            <div class="field">
               <input type="submit" value="Login">
            </div>
            
         </form>
      </div>
   </body>
</html>