
<!DOCTYPE html>
<html>
<head>
  <title>user_management</title>
  <link rel="shortcut icon" href="styles\images\favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
  <form action="/logout">
  <div class="header">
    <button class="logout-button " id="logout-button">Logout</button>
  </div>
  </form>
  
  <div class="welcome-page">
    <h1>Welcome <%=user.name %>!</h1>
  </div>
</body>
</html>


